[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=savenextjpeg
X-Python-2-Compatible=false
Name=Save Next JPEG
Comment=Save a JPEG with ascending number
